html,body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
}

h1{
    font-family: 'Lato', sans-serif;
    font-size: 4.3em;
    line-height: 2;
}
p{
    font-size: 1.8em;
}

.owl-carousel.owl-loaded.owl-drag{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    z-index: 999;
    left: 0;
    top: 0;
    z-index: 0;
}

.owl-item{
    height:100vh;
    background-size: cover;
    background-position: center center;
}

section{
    position: relative;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100vh;
    text-align: center;
}

section:before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}

section div{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    top: 40%;
    right: 0;
}

@media only screen and (max-width: 600px) {
   h1{
    font-size: 3.3em;
    line-height: 1.5;
    margin-bottom: 20px;
   }
  }